@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}
@Html.ActionLink("Preview and Print", "PreviewCompanies", "Company",null, new { @id = "btnPreviewPrint", @class= "btn btn-primary" })

<table id="sample-table-2" class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Company Name</th>
            <th class="center">Email</th>
            <th class="center">Address</th>
            <th class="center">Phone</th>
            <th class="center">IsActive</th>
            <th class="center">Action</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
