
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display Data in the Report Viewer</h2>

@* Here we call the page that I have been created into shared folder *@

@Html.Partial("CompanyReport")
  

